<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :title, class: "block text-gray-700 font-bold mb-2" %>
    <%= form.text_field :title, class: "border border-gray-300 rounded py-2 px-3 w-64 focus:outline-none focus:border-blue-500" %>
    <!-- Adjust 'w-64' (width) as per your requirement -->
  </div>

  <div class="mb-4">
    <%= form.label :body, class: "block text-gray-700 font-bold mb-2" %>
    <%= form.text_area :body, class: "border border-gray-300 rounded py-2 px-3 w-64 focus:outline-none focus:border-blue-500" %>
    <!-- Adjust 'w-64' (width) as per your requirement -->
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
